{% extends 'main.html' %}


{% block content %}
<div class="section">
    <img class="user--avatar--lg" src="{{user.avatar.url}}"/>
</div>

<div id="account--buttons">
    <a class="btn btn--secondary" href="{% url 'edit-account' %}">Editar</a>
    <a class="btn btn--secondary" href="{% url 'change-password' %}">Reiniciar Contraseña</a>
    <a class="btn btn--primary" href="{% url 'profile' user.id %}">Perfil</a>
</div>


<div class="section">
    <h3>Mis Eventos</h3>
    {% for event in user.events.all %}
        <a href="{% url 'event' event.id %}">{{event.name}}</a>

    {% empty %}
        <p> 
            No te has registrado a ningún evento
            </p>
    {% endfor %}
</div>

<div class="section">
    <h3>Mis Comentarios</h3>
    {% for sub in user.submissions.all %}
        <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a>
    
        {% empty %}
        <p>No has dejado ningún comentario</p>
    {% endfor %}
</div>
    
{% endblock content %}