{% extends 'main.html' %}

{% block content %}
    <h1>Cambiar Contraseña</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-field--wrapper">
            <label>Contraseña</label>
            <input class="form-field--input" type="password" name="password1"/>
        </div>

        <div class="form-field--wrapper">
            <label>Ingresa la Contraseña nuevamente</label>
            <input class="form-field--input" type="password" name="password2"/>
        </div>

        <div class="form-field--wrapper">
            <input class="btn btn--primary" type="submit" value="Cambiar Contraseña"/>
        </div>
    </form>

{% endblock content %}