{% extends 'main.html' %}
{% load markdown_extras %}
{% load static %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/event.css" %}'>



    <div class="section">
        <h1>{{event.name}}</h1>
    </div>
   
    {% if event.event_status == 'Ongoing' %}
    <div class="section" id="event--action--wrapper">
        {% if registered %} 
            <p class="text--success">Ya te has registrado a este evento. || </p>
        {% else %}
            <a class="btn btn--primary"  href="{% url 'registration-confirmation' event.id %}">Confirma tu Asistencia.</a>
        {% endif %}

        {% if submitted %} 
            <p class="text--success">Ya agregaste un comentario.</p>
        {% else %}
            <a class="btn btn--secondary" href="{% url 'project-submission' event.id %}">Deja un Comentario.</a>
        {% endif %}
    
    </div>
    {% else %}
        <h6>Este evento a finalizado.</h1>
    {% endif %}

    <div class="section">
        <h6>{{event.description| markdown | safe }}</h6>
    </div>


    <h4 class="event__preview--title, section">Usuarios participantes:</h4>
    <div class="users--lists section">        
        {% for user in event.participants.all %}
            <a href="{% url 'profile' user.id%}">
                <div class="wrapper--user">
                    <div class="avatar__border">
                        <img class="user--avatar--sm" src="{{user.avatar.url}}"/>
                    </div>
        
                    <p>{{user.name}}</p>
            
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock content %}