{% extends 'main.html' %}

{% block content %}

<div class="login-register--container">
    <h4 class="form-field--title">Deja un comentario para {{event.name}}</h4>

    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-field--wrapper" id="form-wrapper">
             {{form.as_p}}
             <input type="submit"/>
            </div>
        </form>
    </div>
    <a class="btn btn--home" href="{% url 'home' %}">Volver al Inicio.</a>
</div>
{% endblock content %}